<!-- wp:template-part {"slug":"header-frontpage","theme":"tiarabunda"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"960px"}} -->
<div class="wp-block-group"><!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#a62e2c"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"border":{"radius":"12px","width":"6px"}},"borderColor":"white","textColor":"white","layout":{"type":"constrained"}} -->
      <div class="wp-block-group has-border-color has-white-border-color has-white-color has-text-color has-background has-link-color" style="border-width:6px;border-radius:12px;background-color:#a62e2c"><!-- wp:heading {"style":{"typography":{"fontSize":"2rem","fontStyle":"italic","fontWeight":"500"},"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
        <h2 class="wp-block-heading" style="margin-bottom:var(--wp--preset--spacing--40);font-size:2rem;font-style:italic;font-weight:500">Prasiaga</h2>
        <!-- /wp:heading -->

        <!-- wp:image -->
        <figure class="wp-block-image"><img alt=""/></figure>
        <!-- /wp:image -->

        <!-- wp:paragraph -->
        <p>Warga negara Indonesia yang berhati gembira, patriotik, tangguh, disiplin, taat aturan ,penolong, bertanggung jawab, dapat dipercaya dan siap menjadi bagian persaudaraan umat manusia di seluruh dunia yang saling menguatkan.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"white","style":{"color":{"text":"#a62e2c"},"elements":{"link":{"color":{"text":"#a62e2c"}}},"spacing":{"padding":{"left":"var:preset|spacing|60","right":"var:preset|spacing|60","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
          <div class="wp-block-button"><a class="wp-block-button__link has-white-background-color has-text-color has-background has-link-color wp-element-button" style="color:#a62e2c;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--60)">More</a></div>
        <!-- /wp:button --></div>
      <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"color":{"background":"#e89800"},"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"border":{"radius":"12px","width":"6px"}},"borderColor":"white","textColor":"white","layout":{"type":"constrained"}} -->
      <div class="wp-block-group has-border-color has-white-border-color has-white-color has-text-color has-background has-link-color" style="border-width:6px;border-radius:12px;background-color:#e89800"><!-- wp:heading {"style":{"typography":{"fontSize":"2rem","fontStyle":"italic","fontWeight":"500"},"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
        <h2 class="wp-block-heading" style="margin-bottom:var(--wp--preset--spacing--40);font-size:2rem;font-style:italic;font-weight:500">Hidroponik</h2>
        <!-- /wp:heading -->

        <!-- wp:image -->
        <figure class="wp-block-image"><img alt=""/></figure>
        <!-- /wp:image -->

        <!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
        <p style="margin-top:0;margin-bottom:0">Diharapkan siswa dapat berjiwa wirausaha sehingga yang dilakukan bukan saja berdaya guna, tetapi juga dapat berhasil guna agar siswa memperoleh pengalaman yang bermakna bagi kehidupan di masa depan.</p>
        <!-- /wp:paragraph -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"luminous-vivid-amber","textColor":"white","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"left":"var:preset|spacing|60","right":"var:preset|spacing|60","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
          <div class="wp-block-button"><a class="wp-block-button__link has-white-color has-luminous-vivid-amber-background-color has-text-color has-background has-link-color wp-element-button" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--60)">More</a></div>
        <!-- /wp:button --></div>
      <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
  <!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"tiarabunda"} /-->